.image-enhancer-settings {
  .form-control {
    @include font_size_color(18px,400);
    @include grid(grid,null,null,1em auto,null,0.5em);
    cursor: pointer;

    &:focus-within {
      color: $white-base;
    }
  }

  input[type="radio"] {
    appearance: none;
    margin: 0;
    @include font_size_color(18px);
    color: currentColor;
    @include width_height (1.15em,1.15em);
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    @include grid(grid);
    place-content: center;
    cursor: pointer;

    &:before {
      content: "";
      @include width_height (0.65em,0.65em);
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em $blue-base;
    }

    &:checked:before {
      transform: scale(1);
    }
  }
}