// White-color

$white-base: #ffffff;

//Black-color
$black-base: #202020;
$black-regular: #2e2e2e;
$black-dark: #151515;
$black-light: #303030;
$black-verylight: #4d4d4d;
$black-xtralight: #404040;

// Grey-color

$grey-base: #adadad;
$grey-dark: #494949;
$grey-light: #949494;

// Blue-color
$blue-base: #4cbeff;
$blue-regular: #142630;

// red-color
$red-base: #ff1604;
